body,
html {
  background-color: rgb(247, 241, 234);
  min-height: 100%;
  margin: 0 0 0px;
  position: relative;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 90px;
  color: rgb(142, 194, 230);
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: rgb(142, 194, 230);
  margin-left: 2.5em;
}

.buyButton {
  background-color: transparent;
  color: rgb(142, 194, 230);
  border: 2px solid rgb(142, 194, 230);
  border-radius: 3px;
  font-family: "Shippori", serif;
  padding: 6px 22px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

.buyButton:hover {
  background-color: rgb(142, 194, 230);
  color: #ffff;
  opacity: 70%;
}

.buyButton:active {
  background-color: transparent;
  color: rgb(142, 194, 230);
  border-color: #fff;
  outline: 0px;
  opacity: 70%;
}

.buyButton:focus {
  outline: 0px;
}

.minusButton,
.plusButton {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: black;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: auto;
}

.minusButton:hover,
.plusButton:hover {
  cursor: pointer;
}

.minusButton:focus,
.plusButton:focus {
  outline: 0px;
}

hr {
  background-color: #fff;
  height: 1px;
  border: 0;
  width: 50%;
}

.totalPrice,
table {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
}

td {
  display: inline-block;
  width: 280px;
  margin: 10px;
}

#itemTitle {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

#itemImage {
  width: 30%;
  height: 30%;
}

.cart {
  margin-top: 3em;
  text-align: center;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  width: 180px;
  height: 180px;
}

.my-footer {
  color: #fff;
  font-size: 11px;
  font-family: "Lato", sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 40px;
  opacity: 50%;
}

a {
  text-decoration: none;
  font-family: "Shippori", serif;
  font-size: 16px;
  font-weight: 300;
  padding-right: 5em;
  padding-left: 5em;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: rgb(142, 194, 230);
}

a:active {
  color: rgb(142, 194, 230);
}

.current-link {
  color: rgb(142, 194, 230) !important;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.headerLogo {
  font-family: "Lato", sans-serif !important;
  font-weight: 700 !important;
  color: #fff !important;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
  width: auto;
}

.front-image {
  background-image: url("images/front-image.jpeg");
  height: 900px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.second-image {
  background-image: url("images/fabric-image.png");
  height: 1600px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.footer-link {
  font-family: "Lato", "sans-serif";
  font-size: 11px;
  font-weight: 400;
  text-decoration: underline;
  padding: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  opacity: 80%;
  border-radius: 10px;

}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input {
  width: 40%;
  color: rgb(142, 194, 230);
  border: 2px solid rgb(142, 194, 230);
  border-radius: 3px;
  font-family: "Shippori", serif;
  margin: 5px;
  font-size: 14px;
}

input[type="text"]:focus {
  border: 2px solid #c06e52ff;
}

label {
  width: 40%;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

form {
  text-align: center;
  display: block;
}

label.errorAlert {
  border: 2px solid red;
  border-radius: 4px;
  line-height: 1;
  padding: 2px 0 6px 6px;
  background: #ffe6eb;
}

input.validAlert {
  border: 2px solid #4caf50;
  color: green;
}

#orderBtn,
#checkoutBtn {
  background-color: rgb(142, 194, 230);
  color: #fff;
  border: 2px solid rgb(142, 194, 230);
  border-radius: 3px;
  font-family: "Shippori", serif;
  padding: 6px 22px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 1em;
  white-space: nowrap;
}

#orderBtn:hover,
#checkoutBtn:hover {
  background-color: transparent;
  color: rgb(142, 194, 230);
  border: 2px solid rgb(142, 194, 230);
  border-radius: 3px;
  font-family: "Shippori", serif;
  padding: 6px 22px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#checkoutBtn:active {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  outline: 0px;
  opacity: 70%;
}

#orderBtn:focus,
#checkoutBtn:focus {
  outline: 0px;
}

.formHeader {
  text-align: center;
  font-family: "Shippori", serif;
  font-size: 40px;
}

.infoContainer {
  position: relative;
  width: 50%;
}

.infoContainer:hover .overlay {
  opacity: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 180px;
  height: 180px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.text {
  color: white;
  font-size: 10px;
  font-family: "Shippori", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 170px;
}

#productCard {
  display: inline-block;
  vertical-align: top;
  font-family: "Lato", sans-serif;
  color: rgb(142, 194, 230);
  font-size: 12px;
  width: 180px;
  height: 330px;
  padding: 1em;
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.productCards{
margin: auto;
width: 70%;
text-align: center;
margin-top: 3em;
}

.productTitle {
  font-weight: 500;
  max-width: 250px;
  color: rgb(142, 194, 230);
  font-family: "Lato", sans-serif;
  padding-left: 0em;
}